DATABASE_URL="file:./prisma/dev.db"
PORT=3001
HA_URL=
HA_TOKEN=
HA_DARK_ROOM_TEMPERATURE_ENTITY=
HA_DARK_ROOM_HUMIDITY_ENTITY=
HA_DARK_ROOM_CO2_ENTITY=
HA_DARK_ROOM_LUX_ENTITY=
HA_LIGHT_ROOM_TEMPERATURE_ENTITY=
HA_LIGHT_ROOM_HUMIDITY_ENTITY=
HA_LIGHT_ROOM_CO2_ENTITY=
HA_LIGHT_ROOM_LUX_ENTITY=
GOOGLE_SHEETS_ID=
GOOGLE_SERVICE_ACCOUNT_JSON=
GOOGLE_SHEETS_TAB_NAME=Activities